* {
    font-family: Fredoka, sans serif;
}

.background {

    background: linear-gradient(177deg, rgba(255, 255, 255, 1) 0%, rgba(108, 116, 221, 1) 0%, rgba(66, 49, 185, 1) 44%, rgba(43, 18, 120, 1) 83%);
    color: white;
}

body {
    background: linear-gradient(177deg, rgba(255, 255, 255, 1) 0%, rgba(108, 116, 221, 1) 0%, rgba(66, 49, 185, 1) 44%, rgba(43, 18, 120, 1) 83%);
    color: white;
}

.item {

}

.question {
    padding: 36px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 50px;
}

.choices {
    text-align: center;
    font-size: 30px;
    margin: auto;
}

.radio {
}

div.radio {
    cursor: pointer;
    background-color: #e6b555;
    border-radius: 20px;
}

div.radio input {
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

div.radio span {
    height: 180px;
    color: #242d3b;
}

div.radio span:hover {
    border-color: azure;
    color: azure;
    box-shadow: 0 5px 15px rgba(222, 202, 142, .5);
}

div.radio input:checked + span {
    border-color: azure;
    color: azure;
    box-shadow: 0 5px 15px rgba(222, 202, 142, .5);
}

form {
    height: 700px;
}

.Submit {
    position: absolute;
    color: azure;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 35px;
    border: none;
    font-weight: 400;
    background-color: #534391;
    border-radius: 20px;
}

.Submit:hover {
    box-shadow: 0 7px 15px rgba(55, 52, 99, .3);
}

}