* {
    font-family: Fredoka, sans serif;
}
.background {

    background: linear-gradient(177deg, rgba(255,255,255,1) 0%, rgba(108,116,221,1) 0%, rgba(66,49,185,1) 44%, rgba(43,18,120,1) 83%);
    color: white;
}

body {
    background: linear-gradient(177deg, rgba(255,255,255,1) 0%, rgba(108,116,221,1) 0%, rgba(66,49,185,1) 44%, rgba(43,18,120,1) 83%);
    color: white;
}
.item{
    height:650px;
}
.question {
    padding: 36px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 50px;
}
.choices {
    text-align: center;
    font-size: 30px;
    height: 500px;
    width: 90%;
    margin: auto;
}

.radio {
}
label.radio {
    cursor: pointer;
}

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none;
    }

    label.radio span {
        height: 180px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 480px;
        padding: 7px 14px;
        float: left;
        color: #242d3b;
        border-radius: 20px;
        background-color: #e6b555;
        white-space: normal;
        word-break: break-word;
        display: flex;
        align-items: center;
        justify-content:center;
    }
        label.radio span:hover {
            border-color: azure;
            color: azure;
            box-shadow: 0 5px 15px rgba(222, 202, 142, .5);
        }

    label.radio input:checked + span {
        border-color: azure;
        color: azure;
        box-shadow: 0 5px 15px rgba(222, 202, 142, .5);
    }
form {
    height:700px;
}
.Submit {
    position: absolute;
    color: azure;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 35px;
    border: none;
    font-weight: 400;
    background-color: #534391;
    border-radius: 20px;
}
.Submit:hover {
    box-shadow: 0 7px 15px rgba(55, 52, 99, .3);
}
}